// *****************************************************************************
// * Pattern Library
// *****************************************************************************
// *
// * @name: _colors.scss
// *
// * Imports all global colors. You should *always* use color vars defined here
// * rather than explicitly defining colors in individual components/patterns.
// *
// *****************************************************************************

$color-black: #000000;
$color-white: #FFFFFF;
$color-body-text: #FFFFFF;

$color-splash-text: #FFFFFF;
$color-splash-bg-1: #676BAB;
$color-splash-bg-2: #756BFF;
