<section class="sg-splash">
  <div class="sg-splash__wrap">
    <h1 class="sg-splash__message fadein fadein--one">{{splashText}}</h1>
    <h2 class="sg-splash__subtext fadein fadein--two">{{splashSubText}}</h2>
  </div>
</section>
