<nav class="sg-linkbar">
  <ul class="sg-linkbar__list">
    {{#each links}}
      <li class="sg-linkbar__entry">
        <a href="{{url}}"
           title="{{title}}"
           class="sg-linkbar__link">{{text}}</a>
      </li>
    {{/each}}
  </ul>
</nav>
